body{
    margin: 0;
}
.first_banner{
    background-color:black;
    width: 100%;
    color:#fff;
    height: 30px;
    font-family: "AdihausDIN",Helvetica,Arial,sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    display: flex;  
}


.first_left_head{
    padding-top: 10px;
    width: 514px;
}
.first_center_head{
    padding-top: 10px;
    width: 514px;
}
.first_right_head{
    padding-top: 10px;
    width: 514px;
}
.left_1,.left_2 {
    display: inline-block; /* This makes them appear side by side */
    /* width: 100px; 
    box-sizing: border-box; */
    /* padding: 10px; Adjust padding as needed */
}
/* .left_1{
    width: 50px;
}
.left_2{
    width: 50px;
} */

.second_banner{
    height: 80px;
    background: #fff;
    display: flex;
    position: sticky;
    padding: 0 40px;
    top: 0;
    z-index: 1;
    
}
.left_1 img{
    margin-top: 20px;
    height: 50px;
}
/* .center_2{
     width: 750px;
} */
.center_2 ul li{
    padding: 32px 0 0 35px;
    font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}
.right_3{
    height: 80px;
    width: 500px;
}
.right_3 ul li{
    padding-left: 20px; 
    padding-bottom: 10px;
    font-family: "AdihausDIN",Helvetica, Arial, sans-serif;
    font-size: 11px;
    margin-top: 10px;
    margin: 0;
    /* margin-bottom: 10px;  */
    align-items: center;

}
.right_3 ul{
     margin-top: 9px;
     margin-left: 177px;
}
form.example input[type=text] {
    /* margin-left: 128px; */
    /* font-size: 15px; */
    padding: 5px 7px;
    border: 5px solid black;
    float: left;
    background: #eae8e8;
    border: 0;
    width: 60%;
   
    color: black
  }
  form.example button {
    float: left;
    /* width: 10%; */
    background: #cdcbcb;
    color: white;
    font-size: 15px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    border: 0;
    padding: 4px 7px;
  }
  button .fa-search{
    color: black;
    
  }
  .profile{
    margin-left: 7px;
    margin-top: 5px;
  }
  .third_banner{
    height: 600px;
    position: relative;
  }

  .third_content{
    position: absolute;
    top: 220px;
    left: 112px;
    font-family: YeezyzTStar,AdineuePRO,Arial;
    font-size: 22px;
    font-weight: bold;
     /* margin: 0; */
       
  }
  .third_button{
    background-color: black;
    color: #fff;
    width: 173px;
    height: 50px;
    font-weight: 700;
    font-size: 14px;
  }
  .fourth_banner{
    position: relative;
  }
.fourth_content{
    position: absolute;
    top: 204px;
    left: 150px;
    color: #fff;
    font-weight: 600;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 25px;
    line-height: 32PX;
}
.fourth_down_content{
    position:absolute ;
    top: 300px;
    left: 151px;
    font-size: 18px;
    color: #fff;
    font-family: AdihausDIN;
    font-weight: 400px;
   
}

.fourth_down2_content{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    font-size: 14px;
    font-weight: 700;
    font-family: AdihausDIN;  
}
.fifth_banner{
    height: 50px;
    position: relative;
  }

.fifth_content{
    font-size: 23px;
    font-family: "AdihausDIN-CnBoldItalic","AdihausDIN Cn",Helvetica, Arial, sans-serif;
    display: flex;
    justify-content: center;
}
.sixth_inside_content{
    height: 40px;
    width: 415px;
    margin: 11px 0 0 553px;
    display: flex;
    justify-content: space-evenly;

}
.sixth_inside_content button{
    border-width: thin;
}
.seventh_banner{
    margin-top: 10px;
}  
.up_box_1{
    width: 100%;
    font-family: "AdihausDIN-CnBoldItalic","AdihausDIN Cn",Helvetica, Arial, sans-serif;
    letter-spacing: .025em;
    font-weight: 600;
    max-inline-size: fit-content;
    margin-left: 118px;
    height: 35px;
    font-size: 16px;
}
.eighth_banner{
    height: 300px;
    display: flex;
    margin: 10px;
    justify-content: space-evenly;
    padding: 0 60px 0 60px;

}
.first_box_1{
    width: 400px;
    position: relative;
  }
  .center_box_2{
    width: 400px;
    position: relative;
  }
  .right_box_3{
    width: 400px;
    position: relative;
  }
  .img_1{
    width: 400px;
  }
  .img_2{
    position: absolute;
    width: 400px;
  }
  .img_3{
    position: absolute;
    width: 400px; 
  }
  .para{
    position: absolute;
    top: 130px;
    left: 183px;
    color: #fff;
    font-family: AdihausDIN;
    font-size: 16px;
    font-weight: 700;
  }
  
.top_box_1{
    font-family: "AdihausDIN-CnBoldItalic","AdihausDIN Cn",Helvetica, Arial, sans-serif;
    letter-spacing: .025em;
    font-weight: 600;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 113px;
}

.tenth_banner{
    /* background-color: aqua; */
    /* width: 100%; */
    height: 400px;
    display: flex;
    padding: 0 100px;
    justify-content: space-evenly;
  }
  .box_1{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .box_2{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .box_3{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .box_4{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .box_5{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .inside_con_1{
    position: absolute;
    bottom: 6px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;
  }
  .inside_con_2{
    position: absolute;
    bottom: 6px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;
  }
  .inside_con_3{
    position: absolute;
    bottom: -1px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;
  }
  .inside_con_4{
    position: absolute;
    bottom: -2px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;
  }
  .inside_con_5{
    position: absolute;
    bottom: -2px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;
  }
  .eleventh_banner{
    height: 50px;
    margin-top: 20px;
    padding: 0 100px;
  }
  .twelve_banner{
    height: 400px;
    padding: 0 67px;
    display: flex;
    justify-content: space-evenly;
  }
  .twe_first{
    width: 300px;
  }
  .twe_second{
    width: 300px;
  }
  .twe_third{
    width: 300px;
  }
  .twe_fourth{
    width: 300px;
  }
  .thirteenth_banner{
    height: 40px;
    margin-top: 240px;
    padding: 0 100px;
  }
  .fourteenth_banner{
    height: 400px;
    padding: 0 100px;
    display: flex;
    justify-content:space-between;
  }
  .boxxx_1{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .boxxx_2{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .boxxx_3{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .boxxx_4{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .boxxx_5{
    width: 250px;
    height: 250px;
    position: relative;
  }
  .fourteenth_banner{
    height: 400px;
    padding: 0 100px;
    display: flex;
    justify-content:space-between;
  }
  .final_con_1{
    position: absolute;
    bottom: -2px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;

  }
  .final_con_2{
    position: absolute;
    bottom: -2px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;
  }
  .final_con_3{
    position: absolute;
    bottom: -2px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;

  }
  .final_con_4{
    position: absolute;
    bottom: -2px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px; 
  }
  .final_con_5{
    position: absolute;
    bottom: -2px;
    left: 3px;
    font-family: 'Helvetica','Arial',sans-serif;
    font-size: 14px;  
  }
  .fifteenth_banner{
    height: 400px;
    padding: 0 100px;
    display: flex;
    justify-content: center;
  }
  .fif_con_1{
    width: 600px;
  }
  .fif_con_2{
    width: 600px;
  }
  .sixteenth_banner{
    background-color:yellow;
    height: 130px ;
    padding: 0 100px;
    display: flex;
    justify-content: center;
  }
  .six_con_1{
    margin: 0%;
    width: 380px;
    height: 80px;
    font-family:fantasy;
    object-fit: contain;
    font-size: 33px;
    margin-right: 242px;
  }
  .six_con_2{
    background-color: black;
    color: #fff;
    width: 173px;
    height: 50px;
    /* box-shadow: inset -3px -3px 0px 0px; */
    font-weight: 700;
    font-size: 14px;
    margin: 30px 0 0 -225px;
  }
  .seventeenth_banner{
    height: 400px;
    padding: 0 250px;
    display: flex;
  }
  .seven_1{
    width: 200px;
    height: 400px;
  }
  .seven_2{
    width: 200px;
    height: 400px;
  }
  .seven_3{
    width: 200px;
    height: 400px;
  }
  .seven_4{
    width: 200px;
    height: 400px;
  }
  .seven_5{
    width: 200px;
    height: 400px;
  }
  .eighteenth_banner{
    background-color:#363738;
    height: 130px;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0 100px;
    margin-top: 25px;
  }
  .banner_18_ul{
    width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .banner_18_1{
    color:#c8cbcc;
    text-decoration: none;
  }
  .banner_19{
    position: absolute;
    color:#c8cbcc;
    bottom: 0;
    left: 200px;

  }
  
  
